body {
  margin: auto;    
}

p, a, h1 {
  margin-block: 0;
}

.main {
  margin: 8px auto;
  max-width: 800px;  
}

.block {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #F9F9F9;
}

.header {
  margin-bottom: 19.5px;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.description {
  margin-bottom: 16px;
  text-align: justify;  
  line-height: 1.5;  
}

.link-wrap {
  display: flex;
  justify-content: end;  
}

.link {    
  padding: 8px 15px;
  text-decoration: none;
  color: #fff;
  background-color: #3A5A8F;
  border-radius: 3px;
  border: none;
}

.link:hover {
  background-color: #3e5b8d;
}
